WindowsFormsApplication1/WindowsFormsApplication1/Web References/serveraunty/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51428/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serveraunty" />
  <xs:element name="addInSent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r1" nillable="true" type="q1:RISHTA" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r2" nillable="true" type="q2:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInSentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r" nillable="true" type="q3:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addperResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addpes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r" nillable="true" type="q4:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addpesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addpe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r" nillable="true" type="q5:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addpeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="paysender">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="paysenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="paysenderResult" nillable="true" type="q6:ArrayOfRISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payreceiver">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="payreceiverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="payreceiverResult" nillable="true" type="q7:ArrayOfRISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payreq">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="payreqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="payreqResult" nillable="true" type="q8:ArrayOfRISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Allrishtay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllrishtayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="AllrishtayResult" nillable="true" type="q9:ArrayOfRISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fromtobetodone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="roo" nillable="true" type="q10:ArrayOfRISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fromtobetodoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="getrResult" nillable="true" type="q11:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ddlj">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DdljResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="DdljResult" nillable="true" type="q12:ArrayOfRISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getlist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="getlistResult" nillable="true" type="q13:ArrayOfRISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="composite" nillable="true" type="q14:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q15:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addrishtaof">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r" nillable="true" type="q16:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addrishtaofResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleterishtaof">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r" nillable="true" type="q17:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleterishtaofResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="loginof">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginofResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginofResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editprofileof">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editprofileofResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="approverishtaof">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r" nillable="true" type="q18:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approverishtaofResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getpaymentof">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpaymentofResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="seekofrishta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seekofrishtaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="seekofrishtaResult" nillable="true" type="q19:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allowofdetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="allowofdetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="regofadmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="a" nillable="true" type="q20:AUNTY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regofadminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="loginofadmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="b" nillable="true" type="q21:AUNTY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginofadminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginofadminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getrishta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ctgry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="choice" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="curr" nillable="true" type="q22:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getrishtaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="getrishtaResult" nillable="true" type="q23:ArrayOfRISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addrishtatobeapprovedof">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r" nillable="true" type="q24:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addrishtatobeapprovedofResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addInRecieved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r1" nillable="true" type="q25:RISHTA" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r2" nillable="true" type="q26:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInRecievedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addInApproved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r1" nillable="true" type="q27:RISHTA" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r2" nillable="true" type="q28:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInApprovedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRishta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r" nillable="true" type="q29:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRishtaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromSent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r1" nillable="true" type="q30:RISHTA" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r2" nillable="true" type="q31:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromSentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromRecieved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r1" nillable="true" type="q32:RISHTA" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r2" nillable="true" type="q33:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromRecievedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSender">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="AllSenderResult" nillable="true" type="q34:ArrayOfRISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInAllSenders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/serveraunty" minOccurs="0" name="r" nillable="true" type="q35:RISHTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInAllSendersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>